<footer>
    <h5>My custom footer</h5>
    <nav>
        <ul>
            <li><a href="http://www.reubart.com">FootLink01</a></li>
            <li><a href="http://www.reubart.com">FootLink02</a></li>
            <li><a href="http://www.reubart.com">FootLink03</a></li>
            <li><a href="http://www.reubart.com">FootLink04</a></li>
            <li><a href="http://www.reubart.com">FootLink05</a></li>
            <li><a href="http://www.reubart.com">FootLink06</a></li>
        </ul>
    </nav>
</footer>