<footer>
    <h5>By Reuben Perry</h5>
    <nav>
        <ul>
            <li><a href="http://www.reubart.com">Temps</a></li>
            <li><a href="http://www.reubart.com">Extremes</a></li>
            <li><a href="http://www.reubart.com">Core Speeds</a></li>
            <li><a href="http://www.reubart.com">Load</a></li>
        </ul>
    </nav>
</footer>