<% page = { 'title' : 'core temp', 'key': 'temp readout'} %>
<% assets = { 'css' : ['cpu.styl'], 'js' : [] } %>
<%
  assets.js.push('https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js');
  assets.js.push('modules/tempAnalysis.js');
%>

<div ng-app="cpuApp">
  <div ng-controller="coreTempController">
    <button ng-click="getData(selectYear)">{{selectYear}}</button>
    <h2>CPU Temps</h2>
    <a href="index">HOME</a> |
    <a href="sample">Sample Page</a>
  </div>
</div>